# ignore bundler state and gems
.bundle/
vendor/bundle/
bin/

# by default, exclude all cookbooks
/cookbooks/*/
/tmp/

# ignore librarian-chef state
.librarian

# ignore vagrant state
.vagrant

# ignore test kitchen state
.kitchen

# ignore exported vagrant boxes
*.box
